body {
    font-family:'Roboto', sans-serif;
    color:   #434455;
    background: #FFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
}

a {
text-decoration: none;
color: currentColor;
}
button {
cursor: pointer;
}

img {
display: block;
}

address {
font-style: normal;
}
.container { 
width: 100%;
max-width: 320px;
padding-left: 16px; 
padding-right: 16px;  
margin: 0 auto;
} 
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
}
.header-logo {
color:  #4D5AE5;
font-family:"Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
display: flex;
align-items: center;
margin-right: 76px;
}
.header-logo-color {
    color: #2E2F42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-menu-list {
    display: flex;
    gap: 40px;
    /* margin-right: 332px;
    margin-left: 76px; */

}
.header-menu-item {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.header-menu-link {
    font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
text-decoration: none;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
}

.header-menu-link.active:after {
    background-color: #404bbf; 
    content: '';
    position: absolute; 
        left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.header-menu-link:hover,
.header-menu-link:focus{
    color: #404bbf;
}
.header-address{
    font-style: normal; 
}
.header-soc-list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-right: 156px;
    padding: 24px 0;  
}
.header-burger{
    display: none;
}
.responsive-menu{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
}
.contact-link{
    color:#434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contact-link:hover,
.contact-link:focus{
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-min.jpg); 
    max-width: 1440px;
    margin: 0 auto;
}
.hero-container {
} 
.hero-title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
max-width: 496px;
padding-bottom: 48px;
margin: 0 auto;
}
.button {
    display: block;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.hero-btn {
background:  #4D5AE5;
color: #FFF;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
cursor: pointer;
display: block;
height: 56px;
min-width: 169px;
padding: 16px 32px;
border: none;
border-radius: 4px;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}




.hero-btn:hover,
.hero-btn:focus {
    background:  #404BBF;
    color:  #FFF;
    outline: transparent;

}
.strategy {
    background: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: wrap;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.strategy-list {
    display: flex;
    flex-wrap: wrap ;
    gap: 72px; 

}
.strategy-item {
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
list-style: none;
}
.strategy-subtitle {
color:  #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.2; 
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
}
.strategy-text {
color:  #434455;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;

}
.svg-container {
    display: none;
}

.our-team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}
.team-list {
    
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;

}
.team-item {
background-color: #FFFFFF;
/* width: calc((100% - 72px) / 4);  */
border-radius: 0px 0px 4px 4px;
background:  #FFF;
width: 100%;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
.team-img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.team-info{
    padding: 32px 0 ;

}
.team-subtitle {
    color:  #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px ;

}
.team-text {
color:  #434455;
text-align: center;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.team-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.team-icon-list {
    width: 40px;
    height: 40px;
}
.team-icon-link {
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.team-icon-link:hover,
.team-icon-link:focus{
    background-color: #404bbf;
}
.team-icon-svg {
    fill: #f4f4fd ;
}
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px; 
}
.portfolio-list {
display: flex; 
padding-bottom: 0px;
align-items: flex-start;
flex-shrink: 0;
flex-wrap: wrap;
gap: 48px 32px;
justify-content: center;
column-gap: 24px;

}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-item:hover .overlay-parag{
    transform: translateY(0%);
}
.overlay-container {
    position: relative;
    overflow: hidden;
}
.portfolio-subtitle {
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.portfolio-img {
}
.overlay-parag {
    position: absolute;
    top: 0; 
    left: 0;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px;
    font-size: 16px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
}
.portfolio-text {
color:  #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.footer {
    background:  #2E2F42;
    padding: 100px 0;
}
.footer-content {
    display: flex;
    align-items: baseline;
    }
.footer-logo-container {
    margin-right: 120px;
}
.footer-logo {
color:  #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
margin-bottom: 16px;
}
.footer-logo-color {
color:  #F4F4FD;
}
.footer-text {
color:  #F4F4FD;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
width: 264px;
}
.footer-paragraf {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-soc-item {
    width: 40px;
    height: 40px;
}
.footer-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus{
    background-color: #31d0aa;
}
.footer-soc-icon {
    fill: #f4f4fd;
    flex-shrink: 0;
}


.form-container{
    margin-left: 80px;
    gap: 24px;
}

.form-text {
    margin-bottom: 16px; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #ffffff; 
}
.form-main {
    display: flex;
    gap: 24px;
}

.form-input {
    width: 264px;
    height: 40px; 
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px;
    color: #ffffff; 
}

.form-input::placeholder {
    color: #ffffff;
}
.footer-form-btn {
    min-width: 165px; 
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px;
}
.form-button-icon {
    margin-left: 16px;
}




.backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:  rgba(46, 47, 66, 0.40);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* opacity: 0;
    visibility: hidden;
    pointer-events: none;  */
}
.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background:  #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px; 
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    /* border-radius: 4px; */
}
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42

}
.section-title {
    /* color: #ffffff;  */
}
.modal-form {
    gap: 24px;
width: 360px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
.modal-field {
    margin-bottom: 8px;
    width: 100%;
    /* position: relative; */
}
.modal-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
    color: #8e8f99;
    display: block;
}
.modal-input-wrap {
    position: relative; 

}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff; 
    background-color: transparent; 
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    padding-left: 38px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + svg {
    fill: #4D5AE5;
}
.modal-icon-emal {
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-icon-emal:focus {
    fill: #4D5AE5;
}

.modal-comment {
margin-bottom: 16px;
}
.modal-text-coment {
    width: 360px;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4) ;
    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px;
    outline: transparent; 
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-coment:focus{
    border-color: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
}
.visually-hidden:checked ~ .modal-label .modal-span{
    background-color:#404bbf;
    border: none;
}

.visually-hidden:checked ~ .modal-label .modal-span svg {
    display: block;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-span {
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent; 
}
.modal-span svg {
    display: none;
        border-color: #404BBF;
}

.input-class:checked + .label-class > .span-class svg{
    display: flex;
}
.modal-link {
    color: #4d5ae5; 
}
.modal-btn {
    display: block; 
    min-width: 169px ;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px ;
    font-weight: 500 ;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    color: #ffffff ;
    cursor: pointer ;
    background-color: #4D5AE5 ;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    padding: 16px 32px;
    margin: 0 auto;
}


.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    } 

    /* @media screen and (min-width: 320px) {
        .container {
            max-width: 320px;
            padding-left: 16px;
            padding-right: 16px;
            flex-wrap: wrap;

        }
        
    } */

    @media screen and (min-width: 768px) {
        .container { 
            max-width: 768px;
            }
        .header-menu-list {
            display: none;
        } 
        .header-logo{
            padding: 18px 0;
            transition: 0.3s ease;
        }
        .header-address    {
            display: none;
        }
        
        .header-burger {
            display: flex;
            position: relative;
        }
        .burger-icon{
            display: block;
        }
        .close-icon{
            display: none;
        }
        .header-burger input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        .header-burger input:checked{
            z-index: 10;
        }
        .header-burger input:checked + label{
            z-index: 9;
        }
        .header-burger input:checked + label .burger-icon{
            display: none;
        }
        .header-burger input:checked + label .close-icon{
            display: block;
        }
        .header-burger input:checked ~ .responsive-menu{
            display: block;
            z-index: 2;
        }
        .strategy-item {
        width: calc((100% - 72px) / 2); 
    }
    .strategy-subtitle {
        justify-content: start;
    }
    .svg-container {
        display: none;
    }
    .team-item {
        width: auto;
    }
    
    }



@media screen and (min-width: 1024px) {
    .container { 
        max-width: 1024px;
        padding-left: 15px; 
padding-right: 15px;  
margin: 0 auto;
        }
    .header-container{
        align-items: center;
        gap: 20px;
    }
    .header-navigation{
        width: 65%;
        justify-content: space-between;
    }
    .header-soc-list    {
        flex-direction: column;
        gap: 10px;
    }
    .strategy {
        background: #FFF;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .container {
    }
    .strategy-list {
        display: flex;
        gap: 24px; 
    }
    .strategy-item {
        width: calc((100% - 72px) / 4);
    }
    .strategy-subtitle {
    font-size: 20px;
    font-weight: 500;
    justify-content: start;
    }
    .strategy-text {
        font-weight: 400;
        }
    .svg-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px; 
        margin-bottom: 8px; 
        border-radius: 4px;
border: 1px solid  #8E8F99;
background:  #F4F4FD;
    }
    .advantages-svg {
        flex-shrink: 0;
    }

    .our-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-item {
        width: calc((100% - 72px) / 4); 
        }
        .team-list {
                gap: 24px;}
    
}

